body {
  background-image: url(images/19366.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  font-family: "Georgia, serif";
}

h1 {
  color: #3876e9;
  font-size: 3em;
  text-align: center;
}

h6 {
  color: #3876e9;
  font-size: 2em;
  text-align: center;
  margin: 0%;
}

.inputStyle {
  text-align: center;
}

.MuiSelect-select {
  color: #3876e9;
}

.MuiSelect-outlined {
  color: #3876e9;
}

.MuiOutlinedInput-input {
  color: #3876e9;
}

.MuiInputBase-input {
  color: #3876e9;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: #3876e9;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}