body {
    background-color: #7277E6;
    font-family: 'Dongle', sans-serif;
}


h1 {
    color: white;
    font-size: 5em;
    text-align: center;

}

h6 {
    color: white;
    font-size: 3em;
    text-align: center;
    margin: 0px;
}


.inputStyle {
    text-align: center;

}

.MuiSelect-select{
    color:white;
}

.MuiSelect-outlined {
    color:white;
}

.MuiOutlinedInput-input {
    color:white;
}

.MuiInputBase-input {
    color:white;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    color:white;
}
